body {
    margin: 0;
    background-color: #303030;
}

html {
    box-sizing: border-box;
    gap: 3rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    color: #303030;
    padding: 0.5rem 1rem;
    position: relative;   

}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 0.5em 2em;
    margin-top: 25px;
    color: inherit;
    opacity: 0.70;
    position: relative;
}

.navigation a:hover {
    background: grey;
    color: white;
    opacity: 1;
}

#header-img {
    width: 200px;
    height: auto;
    display: inherit;
    justify-self: flex-start;
    margin-right: auto;
    margin-left: -20px;
}

#nav-bar {
    display: block;
}

nav ul {
    list-style: none;
}

@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

header {
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 50%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.submit-form-control {
    display: block;
    width: 50%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    background-color: #B9EFE1;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: x-large;
    word-wrap: break-word;
    width: 50%;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1 {
    text-align: left;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    border-bottom: rgb(206, 203, 203) solid;
    
}

.contact {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 100px;
    color: aliceblue;
}

.aboutp {
    text-align: left;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
}

#video {
    padding-top: 20px;
}
