body {
    margin: 0;
    background-color: #303030;
}

html {
    box-sizing: border-box;
    gap: 3rem;
}

*, *::before, *::after {
    box-sizing: inherit;
    outline: solid 1px red !important
}

.header {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    color: #303030;
    padding: 0.5rem 1rem;
    position: relative;

}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 0.5em 2em;
    margin-top: 25px;
    color: inherit;
    opacity: 0.70;
    position: relative;
}

.navigation a:hover {
    background: grey;
    color: white;
    opacity: 1;
}

#header-img {
    width: 200px;
    height: auto;
    display: inherit;
    justify-self: flex-start;
    margin-right: auto;
    margin-left: -20px;
}

#nav-bar {
    display: block;
}


nav ul {
    list-style: none;
}

